{% extends 'myapp/base.html' %}

{% block body %}
  <h1>This is the edit page</h1>

  <!-- Form to edit an existing expense -->
  <form method="POST">
    {% csrf_token %}
    <div>
      <div>
        <label>Expense Name</label>
        <div> {{ expense_form.name }}</div> <!-- Prefilled name field -->
      </div>
      <div>
        <label>Amount</label>
        <div> {{ expense_form.amount }}</div> <!-- Prefilled amount field -->
      </div>
      <div>
        <label>Category</label>
        <div> {{ expense_form.category }}</div> <!-- Prefilled category field -->
      </div>
      <div>
        <button type="submit">Edit</button> <!-- Submit button to update the expense -->
      </div>
    </div>
  </form>
{% endblock %}